
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin:ital,wght@0,400..700;1,400..700&family=Parisienne&display=swap');

:root {
    --bg-color: #1F2621;
    --text-color: #F1F2F2;
    --h-color1: #8C6F3A;
    --h-color2: #6A732C;
    --h-color3: #A65E44;
}
/* 
#F1F2F2 - marble
#1F2621 - slate
#8C6F3A - lichen green
#6A732C - lichen amber
#A65E44 - lichen red 
*/

/* Hero Section */
body{
    background-color: var(--text-color);
    color: var(--text-color);

}
.hero-section {
    background: url(../images/orangecat.webp);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-family: 'Black Ops One', serif;
}

h2, h3, h4, h5 {
    font-family: 'Black Ops One', serif;

}
.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
    
}

.work-card {
    font-family: 'Cabin', sans-serif;
    background-color: var(--bg-color);
    border-radius: 0em;
    color: var(--text-color);
    border: none;

}

.card-title {
    color: var(--text-color);
    font-size: 1.5em;
}

h2 {
    font-weight: 700;
    color: #333;
}

.btn {
    background-color: var(--h-color1);
    color: var(--text-color);
    border-radius: 0em;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    --bs-btn-hover-bg: var(--h-color2);
}