
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin:ital,wght@0,400..700;1,400..700&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --bg-color: #1F2621;
    --bg-color2: #344039;
    --text-color: #F1F2F2;
    --h-color1: #8C6F3A;
    --h-color2: #6A732C;
    --h-color3: #A65E44;
    --bg-color3: #4D5920;
}
/* 
#F1F2F2 - marble
#1F2621 - slate
#8C6F3A - lichen green
#6A732C - lichen amber
#A65E44 - lichen red 
#38401A - moss green
*/

/* Hero Section */
body{
    background-color: var(--bg-color2);
    color: var(--text-color);

    overflow-x: hidden;

    
}
.hero-section {
    background: url(../images/nordic.webp);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.minihero {
    background: url(../images/nordic.webp);
    background-size: cover;
    background-position: 50% 63%;
    height:30vh;
    display: flex;
    align-items: left;
    justify-content: center;
    color: white;
    
}

#miniherologo {
  width: auto; 
  height: 30vh; 
  justify-content: center;
}

.modal-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.sam-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.modalvideo iframe {
    width: 100%;
    height: 100%;
    display: flex;
    border: 0;
    justify-content: center;
}

.spaceout {
    padding-bottom: 1em;
}

html {
    scrollbar-gutter: stable;
    background-color: var(--bg-color2);
    background: url(../images/BGWorld.webp);
    background-size: cover;
    background-position: top center;
    background-attachment:fixed;
}

body {
    background-attachment: fixed;
    background: transparent;
}

body.modal-open {
    padding-right: 0 !important;
}

.modalvideo {
    width:55vw;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.modal-dialog {
    display: flex;
    min-width: 60vw;
}

.modal-body img {
    width: 100%;
}

.modal-backdrop {
  background-color: var(--bg-color);
}

.modal-header {
    background-color: var(--bg-color2);
    color: var(--text-color);
}

.modal-footer {
    background-color: var(--bg-color2);
    color: var(--text-color);
}

.modal-body {
    background-color: var(--bg-color);
    color: var(--text-color);
    /* background: url(../images/BGWorld.webp); */
    background-size: cover;
    background-position: top center;
    background-attachment:fixed;
    background-blend-mode: multiply;
}

.btn-close {
    filter:invert(100%);
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-family: 'Play', serif;
}

h2, h3, h4, h5 {
    font-family: 'Play', serif;
    display:block;
}

h4 {
    font-style: italic;
    margin-top: 0em !important;
    margin-bottom: 1em;
}

a {
    color: var(--h-color1)
}

.headingwsubtitle {
    margin-bottom: 0.0em !important;
}

a:hover {
    color: var(--h-color2);
    transition: all 0.2s ease;

}

.headingspacer {
    margin-top: 0.4em;
}

.listblock {
    display: block;
}

.listitem {
    display:inline;
    font-weight: bold;
    font-size: 1.1em;
}
.bottomspacer {
    margin-bottom: 1.5em;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: auto;
    object-fit: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    opacity: 100%;

}

.work-card {
    font-family: 'Cabin', sans-serif;
    background-color: var(--bg-color2);
    color: var(--text-color);
    opacity: 100%;
    border-radius: 0.5em;
    border: none;
    max-width: 65vw;
    margin: 0 auto;
    
}

.collapse-card {
    font-family: 'Cabin', sans-serif;
    background-color: var(--bg-color2);
    color: var(--text-color);
}


.card-title {
    color: var(--text-color);
    font-size: 1.5em;
}

h2 {
    font-weight: 700;
    color: var(--text-color);
}

.btn {
    background-color: var(--h-color1);
    color: var(--text-color);
    border-radius: 0.5em;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    --bs-btn-hover-bg: var(--h-color2);
}

.btn:hover {
    transform: translateY(-1px); 
    transition: all 0.2s ease;
}

/* NAVBAR */

.selected {
    font-weight:600;
    text-decoration:underline ;
    outline: 0.15em solid var(--h-color3);
    outline-offset: -0.15em;
    border-radius: inherit;
    display: block;
    background-color: var(--h-color3) !important;
    --bs-navbar-hover-color: var(--text-color) !important;

}

.selected:hover {
    filter: brightness(1.2);
    transform: translateY(-1px); 
    transition: all 0.2s ease;
    color:white;
    
    
}

nav.navbar {
    background-color: var(--bg-color);
    opacity: 0.9;
    border-radius: 0em;
    border: none;
    
}

.navbar {
    --bs-navbar-color: var(--text-color);
    font-family: 'Play', sans-serif;
    --bs-navbar-padding-y: 0rem;
    font-size: x-large;
    white-space: nowrap;
}

.navbar .nav-link {
    padding: 0.1em;
    border-radius: 0.3em;
    background-color: var(--bg-color2);
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    white-space: nowrap;
}

.navbar .nav-link:hover {
    filter brightness(1.2);
    transform: translateY(-1px); 
    transition: all 0.2s ease;
    background-color: var(--h-color2);
    color:white
}

.custom-toggler.navbar-toggler {
           border-color: var(--h-color1);
       }

.container-fluid {
    padding-right: 0em;
    padding-left: 0em;
}
#colorbar {
  display: block;
  width: 100%;
    height: 0.7em;

}

.thin {
    border: none;
    margin: 0;
    padding: 0;
    height: 0.7em;

}

#herologo {
    width: 65vw; 
  height: auto; 
}

/* Slider */
/* .gallery-body {
    background-color: var(--bg-color2);
    color: var(--text-color);
    background: url(../images/BGWorld.webp);
    background-size: cover;
    background-position: top center;
    background-attachment:fixed;
    width:100%;
    height:auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-gallery {
    width: 100%;
    margin-top: 10vh;
    padding: 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

.container-gallery::-webkit-scrollbar {
    
}

.container-gallery .wrapper {
    display: flex;
    gap: 1rem;
    width: max-content;
  }  */

.rowgap {
    margin-bottom: 3vh;
}


.gallery-work-card {
    flex: 0 0 40vw;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    background-color: var(--bg-color2);
    color: var(--text-color);
    border-radius: 0.6em;
}

.gallery-work-card .btn {
    padding: 0.4em 0.8em;
    width: 100%;
    margin:0em
}

.gallery-work-card .card-body {
    padding: 0.7em;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.align-btn-low {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    max-height: 7.5vh;
    padding-top: 0em !important;
}

.gallery-work-card h2 {
    font-size: 1.0em;
}

.card-title{
    justify-self: flex-start;
}

.gallery-work-card p {
    font-size: 0.7em;
}

.gallery-work-card p.card-text {
    margin-bottom:0.7em
}

.gallery-work-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

}


/* Carousel */

.carousel-item {
    width:100%;
}

.carousel-control-prev {
    height: 50%;
    top: 25%; 
}

/*footer*/

.footernordic .col-md-4 {
     display: flex;
}

.footernordic {
    background: url(../images/nordic.webp);
    background-size: cover;
    background-position: 50% 90%;
    height: 25vh;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.contactbutton {
    padding: 0.3em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: var(--bg-color);
    text-align: center;
    display: inline;
}

.contactbuttonlightside {
    padding: 0.3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: var(--bg-color2);
    text-align: left;
    display: inline;
}

.lowercr {
    justify-content: left;
    text-align: left;
    align-items: baseline;
    font-style: italic;
    font-size: 0.6em;
    margin-bottom: 0.4em;
}
.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-link:hover {
    color: var(--h-color2);
    
}

.footer-link:hover .iconinline
{
    filter brightness(1.2);
    transform: translateY(-1px); 
    transition: all 0.2s ease;
    fill:#8C6F3A !important;
  
}


footer div.row {
    width: 100%;
}


/* Profilecolumn */

.profile-col {
       
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/*icon*/

.icon {
    width: 1.2em;    
    height: 1.2em;      
    vertical-align: top; 
    fill: #8C6F3A;  
    filter:invert(100%);
    margin-right: 0.3em;
    margin-top: 0.3em;
    display: inline;
    margin-inline: 0.3em;
}

.iconinline {
    width: 1.1em;    
    height: 1.1em;      
    vertical-align: top; 
    /* filter:invert(100%); */
    cursor: pointer;
    padding: 0.1em;
    fill: var(--text-color);
}

.icontext {
    font-size: 24px;  
}

.justify-content-center {
    justify-content: center;
    display:flex;
}

.justify-content-end {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 576px) {
    .modalvideo {
    width:80vw;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    }
    #miniherologo {
    width: 100vw; 
    height: auto; 
    justify-content: center;
    }
    .gallery-work-card {
    width: 100vw; 
    height: auto; 
    }
    .hidemobile {
        display: none;
    }

}



@media screen and (max-width: 768px) {
    .gallery-work-card {
    width: 100vw; 
    height: auto; 
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
}

@media screen and (max-width: 1080px) {
    .work-card {
        max-width: 100vw;
        
    }
    .card-body {
    }
}

@media screen and (min-width: 1080px) {

    .textcontent {
    max-width: 65vw !important;
    max-width: 65vw;
    margin: 0 auto;
    padding-top: 2rem;
}

}