
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin:ital,wght@0,400..700;1,400..700&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --bg-color: #1F2621;
    --bg-color2: #344039;
    --text-color: #F1F2F2;
    --h-color1: #8C6F3A;
    --h-color2: #6A732C;
    --h-color3: #A65E44;
    --bg-color3: #4D5920;
}
/* 
#F1F2F2 - marble
#1F2621 - slate
#8C6F3A - lichen green
#6A732C - lichen amber
#A65E44 - lichen red 
#38401A - moss green
*/

/* Hero Section */
body{
    background-color: var(--bg-color2);
    color: var(--text-color);
    background: url(../images/BGWorld.webp);
    background-size: cover;
    background-position: top center;
    background-attachment:fixed;

    
}
.hero-section {
    background: url(../images/nordic.webp);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.modal-body img {
    width: 100%;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-family: 'Play', serif;
}

h2, h3, h4, h5 {
    font-family: 'Play', serif;
    display:inline;

}
.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
    
}

.work-card {
    font-family: 'Cabin', sans-serif;
    background-color: var(--bg-color);
    opacity: 0.75;
    border-radius: 0em;
    color: var(--text-color);
    border: none;

}

.card-title {
    color: var(--text-color);
    font-size: 1.5em;
}

h2 {
    font-weight: 700;
    color: var(--text-color);
}

.btn {
    background-color: var(--h-color1);
    color: var(--text-color);
    border-radius: 0em;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    --bs-btn-hover-bg: var(--h-color2);
}

/* NAVBAR */

.selected {
    font-weight:600;
    text-decoration:underline ;
    outline: 0.15em solid var(--h-color3);
    outline-offset: -0.15em;
    border-radius: inherit;
    display: block;
    background-color: var(--h-color3) !important;
    --bs-navbar-hover-color: var(--text-color) !important;

}

.selected:hover {
    filter: brightness(1.2);
    transform: translateY(-1px); 
    transition: all 0.2s ease;
    color:white;
    
}

nav.navbar {
    background-color: var(--bg-color);
    opacity: 0.9;
    border-radius: 0em;
    border: none;
    
}

.navbar {
    --bs-navbar-color: var(--text-color);
    --bs-navbar-hover-color: var(--h-color1);
    font-family: 'Play', sans-serif;
    --bs-navbar-padding-y: 0rem;
    font-size: x-large;
    white-space: nowrap;
}

.navbar .nav-link {
    padding: 0.1em;
    border-radius: 0.3em;
    background-color: var(--bg-color2);
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    white-space: nowrap;
}

.navbar .nav-link:hover {
    filter brightness(1.2);
    transform: translateY(-1px); 
    transition: all 0.2s ease;
}

.custom-toggler.navbar-toggler {
           border-color: var(--h-color1);
       }

.container-fluid {
    padding-right: 0em;
    padding-left: 0em;
}
#colorbar {
  display: block;
  width: 100%;
    height: 0.7em;

}

.thin {
    border: none;
    margin: 0;
    padding: 0;
    height: 0.7em;

}

#herologo {
    width: 65vw; 
  height: auto; 
}

/* Carousel */

.carouselheadervideo iframe {
    width: 100%;
    Height: 100%;
    display: block;
}

.carouselheadervideo {
    width: 60vw;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    margin-bottom: 3em;

}

/*footer*/

.footernordic {
    background: url(../images/nordic.webp);
    background-size: cover;
    background-position: 50% 90%;
    height: 25vh;
    color: white;
    align-items: center;
    justify-content: center;
    
}

.contactbutton {
    padding: 0.3em;

    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: var(--bg-color);
    text-align: center;

}

.contactbuttonlightside {
    padding: 0.3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: var(--bg-color2);
    text-align: left;
}

/*icon*/

.icon {
    width: 1em;    
    height: 1em;      
    vertical-align: top; 
    fill: #8C6F3A;  
    filter:invert(100%);
    margin-right: 0.3em;
    margin-top: 0.3em;
    cursor: pointer;
}

.iconinline {
    width: 1.1em;    
    height: 1.1em;      
    vertical-align: top; 
    /* filter:invert(100%); */
    cursor: pointer;
    padding: 0.1em;
    fill: var(--text-color);
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-link:hover {
    color: var(--h-color1);
}

.footer-link:hover .iconinline
{
    filter brightness(1.2);
    transform: translateY(-1px); 
    transition: all 0.2s ease;
    fill:#8C6F3A !important;
  
}
.icontext {
    font-size: 24px;  
}

footer div.row {
    width: 100%;
}

